body {
    background-color: lightgrey;
    font-family: 'Roboto Slab',
    serif;
}

h1 {
    padding: 0;
    margin-top: 0px;
    font-size: 5em;
    color: lightgrey;
    text-shadow: -1px 0 black,
    0 1px black,
    1px 0 black,
    0 -1px black;
    
}

.block-main{
    background-color: rgba(211, 211, 211, 0.73);
    padding: 25px;
    width: 60%;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 3%;

}


.container-fluid{
    

}

.nav-pills{
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    background-color: lightgrey;
    opacity: 0.8;
    margin-bottom: 10%;
}

.pageOne{
    background-image: url(img/BP2.JPG);
    background-size: cover;
    height: 700px;
    /* margin-top: -5%; */
}

.btn-default{
    background-color: lightgrey;
    border-color: black;
    font-size: 1.5em;

}